img, embed, object, video {
  max-width: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.nomatch {
    cursor: default;
    background: #FF8C00;
    font-size: 33px;
}

.deck .card.highlight {
    cursor: default;
    background: #98FB98;
    font-size: 33px;
  #
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin-bottom: 10px;
}

.score-panel .score {
    display: inline-block;
    width: 300px;
    float: left;
}

.score-panel .stars {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    display: inline-block;
    list-style: none;
}

.score-panel .timer {
    display: inline-block;
    width: 100px;
}

.score-panel .restart {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
}


@media screen and (min-width: 660px) {
  .deck {
    width: 660px;
    min-height: 680px;
    padding: 32px;
  }
  .deck .card {
    height: 125px;
    width: 125px;
  }
}



@media screen and (max-width: 659px) {
  .deck {
    width: 95%;
    min-height: auto;
    padding: 5%;
  }

  .deck .card {
    width: 18%;
    height: auto;
  }
}
